config-notification {
    disable-failed
}

output "PNP(AOC) 24V1W 0x0000005A" {
    mode "1920x1080@74.973" // Set resolution and refresh rate
    scale 1 // No scaling (use 2 for HiDPI)
}

gestures {
    hot-corners {
        off
    }
}

input {
    keyboard {
        xkb {
            options "altwin:swap_alt_win,caps:" 
            layout "us" // Use the American keyboard layout
        }
        numlock // Enable numlock on startup
    }
    mouse {
    	accel-profile "flat"
	    accel-speed 0.0
        
    }

    focus-follows-mouse // Automatically focus windows under the mouse pointer
    // workspace-auto-back-and-forth // Enable workspace back & forth switching
}

layout {
    gaps 10
    background-color "transparent"
    always-center-single-column
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }

    focus-ring {
        off
        width 0
    }
    
    border {
        on
        width 1
        active-color   "#666666" 
        inactive-color "#303030"
        urgent-color   "#cc4444"
    }
    shadow {
        on
        softness 60
        spread 15
        offset x=0 y=5
        color "#0007"
    }
    struts {
    }
}

window-rule {
        geometry-corner-radius 0
        clip-to-geometry true
        tiled-state true
        draw-border-with-background false
}

layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}
overview {
    workspace-shadow {
        off
    }
}
// Add lines like this to spawn processes at startup.
spawn-at-startup "systemctl" "--user" "import-environment" "QT_QPA_PLATFORMTHEME" "QT_STYLE_OVERRIDE" "QT_QPA_PLATFORM"
spawn-at-startup "ydotoold"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "xsettingsd"
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.
// This line starts waybar, a commonly used bar for Wayland compositors.
environment {
  XDG_CURRENT_DESKTOP "niri"
  QT_QPA_PLATFORM "wayland"
  QT_QPA_PLATFORMTHEME "qt6ct"
  GTK_THEME "adw-gtk3-dark"
}
hotkey-overlay {
    skip-at-startup
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}
window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}
window-rule {
    match app-id=r#"^gnome-control-center$"#
    match app-id=r#"^pavucontrol$"#
    match app-id=r#"^nm-connection-editor$"#
    default-column-width { proportion 0.5; }
    open-floating false
}
window-rule {
    match app-id=r#"^gnome-calculator$"#
    match app-id=r#"^galculator$"#
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^xdg-desktop-portal$"#
    open-floating true
}
window-rule {
    match app-id=r#"^steam$"# title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    draw-border-with-background false
}
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="zoom"
    open-floating true
}
// Open dms windows as floating by default
window-rule {
    match app-id="^com.danklinux.dms$"
    open-floating true
}

window-rule {
    match app-id="^Spotify$"
    match app-id="^zen$"
    match app-id="^discord$"
    match app-id="^org.quickshell$"
    match app-id="^org.gnome.Nautilus$"
    match app-id="^code-oss$"
    match app-id="^Tk$"
    match app-id="^faugus-launcher$"
    //match app-id="^helium$"
    match app-id="^org.prismlauncher.PrismLauncher$"
    match app-id="^com.danklinux.dms$"
    match app-id="^equibop$"
    opacity 0.85
    background-effect{
        blur true
    }
}

//CUSTOM RULES

// @id=wr_1779806983135390096 @name=Spotify
window-rule {
    match app-id="^Spotify$"
    open-on-workspace "4"
    default-column-width { proportion 0.5; }
}

// @id=wr_1779806995597838559 @name=discord
window-rule {
    match app-id="^discord$"
    open-on-workspace "3"
    default-column-width { proportion 0.573; }
}

// @id=wr_1779807031857385627 @name=zen
window-rule {
    match app-id="^zen$"
    open-focused true
    open-on-workspace "2"
    default-column-width { proportion 0.8; }
}

// @id=wr_1780072838521871101 @name=equibop
window-rule {
    match app-id="^equibop$"
    open-on-workspace "3"
    default-column-width { proportion 0.573; }
}


debug {
    honor-xdg-activation-with-invalid-serial
}

// Override to disable super+tab
recent-windows {
    binds {
        Alt+Tab         { next-window scope="workspace"; }
        Alt+Shift+Tab   { previous-window scope="workspace"; }
        Alt+grave       { next-window filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
}


workspace "1"
workspace "2"
workspace "3"
workspace "4"
workspace "5"

// Include dms files
//include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/outputs.kdl"
include "dms/cursor.kdl"
include "dms/windowrules.kdl"
