//DISPLAY
output "PNP(AOC) 24V1W 0x0000005A" {
    mode "1920x1080@74.973" // Set resolution and refresh rate
    scale 1 // No scaling (use 2 for HiDPI)
}

spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &" // Polkit
spawn-sh-at-startup "qs -c noctalia-shell"
spawn-at-startup "xwayland-satellite"


//INPUT
input {
    keyboard {
        xkb {
            options "altwin:swap_alt_win,caps:escape" 
            layout "us" // Use the American keyboard layout
        }
        numlock // Enable numlock on startup
    }
    mouse {
    	accel-profile "flat"
	    accel-speed 0.0
        
    }

    focus-follows-mouse // Automatically focus windows under the mouse pointer
    // workspace-auto-back-and-forth // Enable workspace back & forth switching
}


//LAYOUTS
layout {
    gaps 15 // Gap between windows
    center-focused-column "never" // Don’t auto-center focused column
    always-center-single-column
        
    background-color "transparent" // <- needed for noctalia-shell to set wallpaper

    preset-column-widths {
        proportion 0.5
        proportion 0.7
    }

    default-column-width { proportion 0.5; }  
}


//ANIMATIONS
animations {
}


//KEYBINDS
binds {
    Mod+Shift+ESCAPE                    { show-hotkey-overlay; }
    Mod+W                               { close-window; }
    Mod+Tab                             repeat=false { toggle-overview; }
    Mod+Ctrl+Return                     allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Return                          hotkey-overlay-title="Open Terminal: Kitty" { spawn "kitty"; }
    Mod+Space                           hotkey-overlay-title="Open App Launcher" { spawn-sh "fuzzel --no-icons"; }
    Mod+Shift+B                         hotkey-overlay-title="Open Browser: firefox" { spawn "zen-browser"; }
    Mod+ALT+L                           hotkey-overlay-title="Lock Screen: noctalia lock" { spawn-sh "qs -c noctalia-shell ipc call lockScreen lock"; }
    Mod+Shift+Q                         hotkey-overlay-title="Session Menu: noctalia sessionMenu" { spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle"; }
    Mod+Shift+F                         hotkey-overlay-title="File Manager: Nautilus" { spawn "nautilus"; }

    XF86AudioRaiseVolume                allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume increase"; }
    XF86AudioLowerVolume                allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume decrease"; }
    XF86AudioMute                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteInput"; }
    XF86AudioNext                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media next"; }
    XF86AudioPrev                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media previous"; }
    XF86AudioPlay                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }
    XF86AudioPause                      allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }

    Mod+H                               { focus-column-left; }
    Mod+J                               { focus-window-down; }
    Mod+K                               { focus-window-up; }
    Mod+L                               { focus-column-right; }
    Mod+LEFT                            { focus-column-left; }
    Mod+DOWN                            { focus-window-down; }
    Mod+UP                              { focus-window-up; }
    Mod+RIGHT                           { focus-column-right; }

    Mod+Shift+H                         { move-column-left; }
    Mod+Shift+J                         { move-window-down; }
    Mod+Shift+K                         { move-window-up; }
    Mod+Shift+L                         { move-column-right; }
    Mod+Shift+LEFT                      { move-column-left; }
    Mod+Shift+DOWN                      { move-window-down; }
    Mod+Shift+UP                        { move-window-up; }
    Mod+Shift+RIGHT                     { move-column-right; }

    Mod+Home                            { focus-column-first; }
    Mod+End                             { focus-column-last; }
    Mod+Shift+Home                      { move-column-to-first; }
    Mod+Shift+End                       { move-column-to-last; }

    Mod+WheelScrollDown                 cooldown-ms=150 { focus-column-right; }
    Mod+WheelScrollUp                   cooldown-ms=150 { focus-column-left; }
    Mod+Shift+WheelScrollDown           cooldown-ms=150 { move-column-right; }
    Mod+Shift+WheelScrollUp             cooldown-ms=150 { move-column-left; }

    Mod+1                               { focus-workspace 1; }
    Mod+2                               { focus-workspace 2; }
    Mod+3                               { focus-workspace 3; }
    Mod+4                               { focus-workspace 4; }
    Mod+5                               { focus-workspace 5; }

    Mod+Shift+1                         { move-column-to-workspace focus=false 1; }
    Mod+Shift+2                         { move-column-to-workspace focus=false 2; }
    Mod+Shift+3                         { move-column-to-workspace focus=false 3; }
    Mod+Shift+4                         { move-column-to-workspace focus=false 4; }
    Mod+Shift+5                         { move-column-to-workspace focus=false 5; }

    Mod+CTRL+F                          { fullscreen-window; }
    Mod+C                               { center-column; }
    Mod+CTRL+C                          { center-visible-columns; }
    Mod+Minus                           { set-column-width "-10%"; }
    Mod+Equal                           { set-column-width "+10%"; }
    Mod+Shift+Minus                     { set-window-height "-10%"; }
    Mod+Shift+Equal                     { set-window-height "+10%"; }

    Mod+T                               { toggle-window-floating; }
    Mod+F                               { maximize-column; }
    Mod+R                               { switch-preset-column-width; }

    CTRL+Shift+1                        { screenshot; }
    CTRL+Shift+2                        { screenshot-screen; }
    CTRL+Shift+3                        { screenshot-window; }

    Mod+Ctrl+Escape                     { quit; }
    Mod+Ctrl+P                          { power-off-monitors; }
}


//RULES
window-rule {
    geometry-corner-radius 10 // Set every window radius
    clip-to-geometry true
}
layer-rule {
  	match namespace="^noctalia-wallpaper*"
  	place-within-backdrop true
}
window-rule {
    match title="Discord"
    open-on-workspace "3"
    open-focused false
}
window-rule {
    match title="Zen Browser"
    open-on-workspace "2"
    open-focused true
}
window-rule {
    match title="Spotify"
    open-on-workspace "4"
    open-focused false
}


//MISC
prefer-no-csd

screenshot-path "~/Pictures/Screenshots/screenshot-%Y-%m-%d_%H-%M-%S.png"
    
environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"
    QT_QPA_PLATFORMTHEME "kvantum"
    QT_STYLE_OVERRIDE "kvantum"
}

debug {
    // Allows notification actions and window activation from Noctalia.
    honor-xdg-activation-with-invalid-serial
}

hotkey-overlay {
    skip-at-startup

}
gestures {
    hot-corners {
        off
    }
}
    
recent-windows {
    off
}

workspace "1"
workspace "2"
workspace "3"
workspace "4"
    


