layout {

    focus-ring {
        active-color   "#ffffff"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffffff"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    shadow {
	on
	softness 40
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#00000064"
    }

    tab-indicator {
        active-color   "#ffffff"
        inactive-color "#d4d4d4"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffffff80"
    }
}

recent-windows {
    highlight {
        active-color "#ffffff"
        urgent-color "#ffb4ab"
    }
}
