animations {
    on
    workspace-switch {
        // was: workspaces, speed 2, slidevert
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    window-open {
        // was: windowsIn, speed 4.1, easeOutQuint
        duration-ms 200
        curve "cubic-bezier" 0.23 1 0.32 1
    }

    window-close {
        // was: windowsOut, speed 1.49, linear
        duration-ms 150
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }

    screenshot-ui-open {
        // was: speed 3.03, quick bezier
        duration-ms 303
        curve "cubic-bezier" 0.15 0 0.1 1
    }
}