// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    keyboard {
        xkb {
            options "altwin:swap_alt_win,caps:escape" 
            layout "us" // Use the American keyboard layout
        }
        numlock // Enable numlock on startup
    }
    mouse {
    	accel-profile "flat"
	    accel-speed 0.0
    }
	
    touchpad {
        tap // Enable tap-to-click
        natural-scroll // Enable natural (macOS-style) scrolling
    }

    // focus-follows-mouse // Automatically focus windows under the mouse pointer
    // workspace-auto-back-and-forth // Enable workspace back & forth switching
}
