    window-rule {
        geometry-corner-radius 20 // Set every window radius
        clip-to-geometry true
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }
    window-rule {
        match title="Discord"
        open-on-workspace "3"
        open-focused false
    }
    window-rule {
        match title="Zen Browser"
        open-on-workspace "2"
        open-focused true
    }
    window-rule {
        match title="Spotify"
        open-on-workspace "3"
        open-focused false
    }
    
